#recruitment {
    padding: 40px;
}

.header-text {
    margin-top: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.recruitment {
    width: 400px;
    margin: 0 auto;
    height: auto;
    padding: 40px;
    background: rgba(238, 238, 238, 0.9);
    display: inline-block;
    margin-bottom: 12px;
    margin-right: 12px;
    opacity: 0.85;
    transform: 300ms;
    cursor: hand;
}

.recruitment:hover {
    opacity: 1;
}

#title {
    font-family: "Roboto";
    font-weight: 600 !important;
    color: black !important;
}

.desc {
    font-size: 16px;
	font-weight: 400 !important;
    color: black !important;
    margin-bottom: 0;
}

.bot {
    text-align: center;
    display: none;
}

.link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    font-size: 16px;
    font-weight: 600 !important;
    color: #3B7EA1;
}

.link:hover {
    text-decoration: none;
}

.boxlink:hover {
    text-decoration: none !important;
    
}

@media (max-width: 950px) {
    .top {
        display: none;
    }
    .bot {
        display: inline-block;
    }
}